In [4]:
import yfinance as yf

In [2]:
ticker = "AAPL"

In [5]:
yf.download(ticker)

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1980-12-12,0.128348,0.128906,0.128348,0.128348,0.099450,469033600
1980-12-15,0.122210,0.122210,0.121652,0.121652,0.094261,175884800
1980-12-16,0.113281,0.113281,0.112723,0.112723,0.087343,105728000
1980-12-17,0.115513,0.116071,0.115513,0.115513,0.089504,86441600
1980-12-18,0.118862,0.119420,0.118862,0.118862,0.092099,73449600
...,...,...,...,...,...,...
2023-10-31,169.350006,170.899994,167.899994,170.770004,170.770004,44846000
2023-11-01,171.000000,174.229996,170.119995,173.970001,173.970001,56934900
2023-11-02,175.520004,177.779999,175.460007,177.570007,177.570007,77334800
2023-11-03,174.240005,176.820007,173.350006,176.649994,176.649994,79763700
2023-11-06,176.380005,179.429993,176.210007,179.229996,179.229996,63803700

In [14]:
tlt = yf.download(ticker)

[*********************100%%**********************]  1 of 1 completed

In [15]:
tlt.head()

                 Open       High        Low      Close  Adj Close  Volume
Date
2002-07-30  81.750000  81.900002  81.519997  81.519997  40.106651    6100
2002-07-31  81.949997  82.800003  81.900002  82.529999  40.603558   29400
2002-08-01  82.540001  83.019997  82.540001  83.000000  40.834801   25000
2002-08-02  83.160004  84.099998  82.879997  83.849998  41.253025   52800
2002-08-05  84.040001  84.440002  83.849998  84.220001  41.435020   61100

In [16]:
tlt.tail()

                 Open       High        Low      Close  Adj Close    Volume
Date
2023-10-30  83.809998  84.500000  83.239998  83.989998  83.702599  45026900
2023-10-31  84.370003  84.769997  83.550003  83.580002  83.294006  37269200
2023-11-01  84.040001  85.120003  84.019997  85.099998  85.099998  72308500
2023-11-02  86.680000  87.309998  86.220001  87.040001  87.040001  69739400
2023-11-03  88.809998  89.050003  87.580002  87.629997  87.629997  77668500

In [17]:
type(tlt)

pandas.core.frame.DataFrame

In [18]:
tlt = yf.download(ticker, start = "2020-1-1", end = "2023-11-5")

[*********************100%%**********************]  1 of 1 completed

In [19]:
tlt

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-01-02,136.789993,137.529999,136.669998,137.009995,126.337715,11034100
2020-01-03,138.270004,139.160004,137.880005,139.119995,128.283401,12366000
2020-01-06,139.690002,139.710007,138.149994,138.330002,127.554909,11369800
2020-01-07,138.220001,138.470001,137.639999,137.649994,126.927895,8381200
2020-01-08,137.929993,138.309998,136.320007,136.740005,126.088821,10621700
...,...,...,...,...,...,...
2023-10-30,83.809998,84.500000,83.239998,83.989998,83.702599,45026900
2023-10-31,84.370003,84.769997,83.550003,83.580002,83.294006,37269200
2023-11-01,84.040001,85.120003,84.019997,85.099998,85.099998,72308500
2023-11-02,86.680000,87.309998,86.220001,87.040001,87.040001,69739400
2023-11-03,88.809998,89.050003,87.580002,87.629997,87.629997,77668500

In [20]:
tlt = yf.download(ticker, start = "2020-1-1", end = "2023-11-5")["Adj Close"]

[*********************100%%**********************]  1 of 1 completed

In [21]:
tlt

Date
2020-01-02    126.337708
2020-01-03    128.283325
2020-01-06    127.554955
2020-01-07    126.927887
2020-01-08    126.088715
                 ...
2023-10-30     83.702599
2023-10-31     83.294006
2023-11-01     85.099998
2023-11-02     87.040001
2023-11-03     87.629997
Name: Adj Close, Length: 968, dtype: float64

In [22]:
tickers = ["SPY", "QQQ", "TLT", "SWBI", "INTC"]

In [23]:
yf.download(tickers, start = "2020-1-1", end = "2023-11-5")

[*********************100%%**********************]  5 of 5 completed

            Adj Close                                                 \
                 INTC         QQQ         SPY       SWBI         TLT
Date
2020-01-02  54.564041  211.416214  306.295258   6.498153  126.337723
2020-01-03  53.900375  209.479660  303.975891   6.604447  128.283371
2020-01-06  53.747913  210.829407  305.135651   6.795778  127.554916
2020-01-07  52.851070  210.800034  304.277679   6.717828  126.927872
2020-01-08  52.886944  212.384460  305.899292   6.746174  126.088829
...               ...         ...         ...        ...         ...
2023-10-30  35.689999  349.200012  415.589996  14.210000   83.702599
2023-10-31  36.500000  350.869995  418.200012  14.730000   83.294006
2023-11-01  37.290001  356.959991  422.660004  14.610000   85.099998
2023-11-02  37.700001  363.440002  430.760010  14.380000   87.040001
2023-11-03  38.139999  367.709991  434.690002  14.480000   87.629997

                Close                                                 ...  \
                 INTC         QQQ         SPY       SWBI         TLT  ...
Date                                                                  ...
2020-01-02  60.840000  216.160004  324.869995   7.048424  137.009995  ...
2020-01-03  60.099998  214.179993  322.410004   7.163720  139.119995  ...
2020-01-06  59.930000  215.559998  323.640015   7.371253  138.330002  ...
2020-01-07  58.930000  215.529999  322.730011   7.286703  137.649994  ...
2020-01-08  58.970001  217.149994  324.450012   7.317448  136.740005  ...
...               ...         ...         ...        ...         ...  ...
2023-10-30  35.689999  349.200012  415.589996  14.210000   83.989998  ...
2023-10-31  36.500000  350.869995  418.200012  14.730000   83.580002  ...
2023-11-01  37.290001  356.959991  422.660004  14.610000   85.099998  ...
2023-11-02  37.700001  363.440002  430.760010  14.380000   87.040001  ...
2023-11-03  38.139999  367.709991  434.690002  14.480000   87.629997  ...

                 Open                                                 \
                 INTC         QQQ         SPY       SWBI         TLT
Date
2020-01-02  60.240002  214.399994  323.540009   7.209839  136.789993
2020-01-03  59.810001  213.300003  321.160004   7.040738  138.270004
2020-01-06  59.590000  212.500000  320.489990   7.163720  139.690002
2020-01-07  59.779999  215.639999  323.019989   7.401998  138.220001
2020-01-08  58.889999  215.500000  322.940002   7.263643  137.929993
...               ...         ...         ...        ...         ...
2023-10-30  35.470001  347.829987  413.559998  14.250000   83.809998
2023-10-31  35.660000  349.230011  416.179993  14.220000   84.370003
2023-11-01  36.500000  351.720001  419.200012  14.670000   84.040001
2023-11-02  37.580002  361.540009  426.579987  14.540000   86.680000
2023-11-03  38.000000  364.750000  433.140015  14.550000   88.809998

              Volume
                INTC       QQQ        SPY     SWBI       TLT
Date
2020-01-02  18056000  30969400   59151200   775006  11034100
2020-01-03  15293900  27518900   77709700  1044963  12366000
2020-01-06  17755200  21655300   55653900   865035  11369800
2020-01-07  21876100  22139300   40496400   913953   8381200
2020-01-08  23133500  26397300   68296000   804278  10621700
...              ...       ...        ...      ...       ...
2023-10-30  36656300  55298500   86562700   332100  45026900
2023-10-31  41185200  47671900   79665200   556900  37269200
2023-11-01  41710700  58992700   98068100   349600  72308500
2023-11-02  35440000  58162400   94938900   727200  69739400
2023-11-03  30493400  53239100  100110800   483900  77668500

[968 rows x 30 columns]

In [26]:
yf.download(tickers, start = "2020-1-1", end = "2023-11-5", group_by = ticker)

[*********************100%%**********************]  5 of 5 completed

                 INTC                                                        \
                 Open       High        Low      Close  Adj Close    Volume
Date
2020-01-02  60.240002  60.970001  60.220001  60.840000  54.564045  18056000
2020-01-03  59.810001  60.700001  59.810001  60.099998  53.900375  15293900
2020-01-06  59.590000  60.200001  59.330002  59.930000  53.747921  17755200
2020-01-07  59.779999  59.799999  58.889999  58.930000  52.851067  21876100
2020-01-08  58.889999  59.320000  58.520000  58.970001  52.886944  23133500
...               ...        ...        ...        ...        ...       ...
2023-10-30  35.470001  35.959999  34.919998  35.689999  35.689999  36656300
2023-10-31  35.660000  36.570000  35.619999  36.500000  36.500000  41185200
2023-11-01  36.500000  37.320000  36.279999  37.290001  37.290001  41710700
2023-11-02  37.580002  37.820000  36.910000  37.700001  37.700001  35440000
2023-11-03  38.000000  38.320000  37.669998  38.139999  38.139999  30493400

                   SPY                                      ...         TLT  \
                  Open        High         Low       Close  ...         Low
Date                                                        ...
2020-01-02  323.540009  324.890015  322.529999  324.869995  ...  136.669998
2020-01-03  321.160004  323.640015  321.100006  322.410004  ...  137.880005
2020-01-06  320.489990  323.730011  320.359985  323.640015  ...  138.149994
2020-01-07  323.019989  323.540009  322.239990  322.730011  ...  137.639999
2020-01-08  322.940002  325.779999  322.670013  324.450012  ...  136.320007
...                ...         ...         ...         ...  ...         ...
2023-10-30  413.559998  416.679993  412.220001  415.589996  ...   83.239998
2023-10-31  416.179993  418.529999  414.209991  418.200012  ...   83.550003
2023-11-01  419.200012  423.500000  418.649994  422.660004  ...   84.019997
2023-11-02  426.579987  430.920013  426.559998  430.760010  ...   86.220001
2023-11-03  433.140015  436.290009  433.010010  434.690002  ...   87.580002

                                                   SWBI                        \
                 Close   Adj Close    Volume       Open       High        Low
Date
2020-01-02  137.009995  126.337685  11034100   7.209839   7.209839   6.994620
2020-01-03  139.119995  128.283356  12366000   7.040738   7.179093   6.933128
2020-01-06  138.330002  127.554893  11369800   7.163720   7.386626   7.117602
2020-01-07  137.649994  126.927917   8381200   7.401998   7.425058   7.217525
2020-01-08  136.740005  126.088753  10621700   7.263643   7.348194   7.209839
...                ...         ...       ...        ...        ...        ...
2023-10-30   83.989998   83.702599  45026900  14.250000  14.280000  14.010000
2023-10-31   83.580002   83.294006  37269200  14.220000  14.830000  14.220000
2023-11-01   85.099998   85.099998  72308500  14.670000  14.760000  14.370000
2023-11-02   87.040001   87.040001  69739400  14.540000  14.750000  14.020000
2023-11-03   87.629997   87.629997  77668500  14.550000  14.740000  14.240000


                Close  Adj Close   Volume
Date
2020-01-02   7.048424   6.498152   775006
2020-01-03   7.163720   6.604447  1044963
2020-01-06   7.371253   6.795778   865035
2020-01-07   7.286703   6.717829   913953
2020-01-08   7.317448   6.746174   804278
...               ...        ...      ...
2023-10-30  14.210000  14.210000   332100
2023-10-31  14.730000  14.730000   556900
2023-11-01  14.610000  14.610000   349600
2023-11-02  14.380000  14.380000   727200
2023-11-03  14.480000  14.480000   483900

[968 rows x 30 columns]

In [29]:
yf.download(tickers, start = "2020-1-1", end = "2023-11-5", rounding = True)["Adj Close"]

[*********************100%%**********************]  5 of 5 completed

             INTC     QQQ     SPY   SWBI     TLT
Date
2020-01-02  54.56  211.42  306.30   6.50  126.34
2020-01-03  53.90  209.48  303.98   6.60  128.28
2020-01-06  53.75  210.83  305.14   6.80  127.55
2020-01-07  52.85  210.80  304.28   6.72  126.93
2020-01-08  52.89  212.38  305.90   6.75  126.09
...           ...     ...     ...    ...     ...
2023-10-30  35.69  349.20  415.59  14.21   83.70
2023-10-31  36.50  350.87  418.20  14.73   83.29
2023-11-01  37.29  356.96  422.66  14.61   85.10
2023-11-02  37.70  363.44  430.76  14.38   87.04
2023-11-03  38.14  367.71  434.69  14.48   87.63

[968 rows x 5 columns]

In [30]:
yf.download(tickers, rounding = True)["Adj Close"]["SPY"]

[*********************100%%**********************]  5 of 5 completed

Date
1980-03-17       NaN
1980-03-18       NaN
1980-03-19       NaN
1980-03-20       NaN
1980-03-21       NaN
               ...
2023-10-30    415.59
2023-10-31    418.20
2023-11-01    422.66
2023-11-02    430.76
2023-11-03    434.69
Name: SPY, Length: 11003, dtype: float64

In [9]:
import yfinance as yf

ticker = "TLT"
yf.download(ticker)

[*********************100%%**********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close    Volume
Date
2002-07-30  81.750000  81.900002  81.519997  81.519997  40.106663      6100
2002-07-31  81.949997  82.800003  81.900002  82.529999  40.603592     29400
2002-08-01  82.540001  83.019997  82.540001  83.000000  40.834824     25000
2002-08-02  83.160004  84.099998  82.879997  83.849998  41.252979     52800
2002-08-05  84.040001  84.440002  83.849998  84.220001  41.435036     61100
...               ...        ...        ...        ...        ...       ...
2023-11-01  84.040001  85.120003  84.019997  85.099998  85.099998  72308500
2023-11-02  86.680000  87.309998  86.220001  87.040001  87.040001  69739400
2023-11-03  88.809998  89.050003  87.580002  87.629997  87.629997  77668500
2023-11-06  87.070000  87.199997  86.599998  86.779999  86.779999  41341900
2023-11-07  87.610001  88.500000  87.595001  88.059998  88.059998  36193401

[5357 rows x 6 columns]

In [15]:
import yfinance as yf

msft = yf.Ticker("MSFT")
hist = msft.history(period="1mo")
print(hist)

                                 Open        High         Low       Close  \
Date
2023-10-09 00:00:00-04:00  324.750000  330.299988  323.179993  329.820007
2023-10-10 00:00:00-04:00  330.959991  331.100006  327.670013  328.390015
2023-10-11 00:00:00-04:00  331.209991  332.820007  329.140015  332.420013
2023-10-12 00:00:00-04:00  330.570007  333.630005  328.720001  331.160004
2023-10-13 00:00:00-04:00  332.380005  333.829987  326.359985  327.730011
2023-10-16 00:00:00-04:00  331.049988  336.140015  330.600006  332.640015
2023-10-17 00:00:00-04:00  329.589996  333.459991  327.410004  332.059998
2023-10-18 00:00:00-04:00  332.489990  335.589996  328.299988  330.109985
2023-10-19 00:00:00-04:00  332.149994  336.880005  330.910004  331.320007
2023-10-20 00:00:00-04:00  331.720001  331.920013  325.450012  326.670013
2023-10-23 00:00:00-04:00  325.470001  332.730011  324.390015  329.320007
2023-10-24 00:00:00-04:00  331.299988  331.839996  327.600006  330.529999
2023-10-25 00:00:00-04:00  345.019989  346.200012  337.619995  340.670013
2023-10-26 00:00:00-04:00  340.540009  341.630005  326.940002  327.890015
2023-10-27 00:00:00-04:00  330.429993  336.720001  328.399994  329.809998
2023-10-30 00:00:00-04:00  333.410004  339.450012  331.829987  337.309998
2023-10-31 00:00:00-04:00  338.850006  339.000000  334.690002  338.109985
2023-11-01 00:00:00-04:00  339.790009  347.420013  339.649994  346.070007
2023-11-02 00:00:00-04:00  347.239990  348.829987  344.769989  348.320007
2023-11-03 00:00:00-04:00  349.630005  354.390015  347.329987  352.799988
2023-11-06 00:00:00-05:00  353.450012  357.540009  353.350006  356.529999
2023-11-07 00:00:00-05:00  359.399994  362.459991  357.630005  360.529999

                             Volume  Dividends  Stock Splits
Date
2023-10-09 00:00:00-04:00  19891200        0.0           0.0
2023-10-10 00:00:00-04:00  20557100        0.0           0.0
2023-10-11 00:00:00-04:00  20063200        0.0           0.0
2023-10-12 00:00:00-04:00  19313100        0.0           0.0
2023-10-13 00:00:00-04:00  21072400        0.0           0.0
2023-10-16 00:00:00-04:00  22158000        0.0           0.0
2023-10-17 00:00:00-04:00  18338500        0.0           0.0
2023-10-18 00:00:00-04:00  23153600        0.0           0.0
2023-10-19 00:00:00-04:00  25052100        0.0           0.0
2023-10-20 00:00:00-04:00  25012600        0.0           0.0
2023-10-23 00:00:00-04:00  24374700        0.0           0.0
2023-10-24 00:00:00-04:00  31153600        0.0           0.0
2023-10-25 00:00:00-04:00  55053800        0.0           0.0
2023-10-26 00:00:00-04:00  37828500        0.0           0.0
2023-10-27 00:00:00-04:00  29856500        0.0           0.0
2023-10-30 00:00:00-04:00  22828100        0.0           0.0
2023-10-31 00:00:00-04:00  20265300        0.0           0.0
2023-11-01 00:00:00-04:00  28158800        0.0           0.0
2023-11-02 00:00:00-04:00  24348100        0.0           0.0
2023-11-03 00:00:00-04:00  23624000        0.0           0.0
2023-11-06 00:00:00-05:00  23828300        0.0           0.0
2023-11-07 00:00:00-05:00  23185438        0.0           0.0

In [17]:
import yfinance as yf

# Replace 'AAPL' with the desired stock ticker symbol
ticker = yf.Ticker('AAPL')

# Get options data for the specified expiration date
options_data = ticker.options()

print(options_data)

TypeError: 'tuple' object is not callable

In [21]:
import yfinance as yf

yf.Ticker("qqq").options

('2023-11-07',
 '2023-11-08',
 '2023-11-09',
 '2023-11-10',
 '2023-11-13',
 '2023-11-14',
 '2023-11-15',
 '2023-11-16',
 '2023-11-17',
 '2023-11-24',
 '2023-12-01',
 '2023-12-08',
 '2023-12-15',
 '2023-12-22',
 '2023-12-29',
 '2024-01-19',
 '2024-03-15',
 '2024-03-28',
 '2024-06-21',
 '2024-06-28',
 '2024-09-20',
 '2024-09-30',
 '2024-12-20',
 '2025-01-17',
 '2025-06-20',
 '2025-12-19',
 '2026-01-16',
 '2026-06-18')

In [46]:
ticker = "es=f"
data = yf.download(ticker)
print(data)

[*********************100%%**********************]  1 of 1 completed
               Open     High      Low    Close  Adj Close   Volume
Date
2000-09-18  1485.25  1489.75  1462.25  1467.50    1467.50   104794
2000-09-19  1467.00  1482.75  1466.75  1478.50    1478.50   103371
2000-09-20  1478.75  1480.50  1450.25  1469.50    1469.50   109667
2000-09-21  1470.25  1474.00  1455.50  1469.50    1469.50    98528
2000-09-22  1454.75  1471.00  1436.75  1468.50    1468.50    97416
...             ...      ...      ...      ...        ...      ...
2023-11-01  4205.00  4264.75  4191.25  4256.00    4256.00  2027080
2023-11-02  4258.50  4339.75  4257.75  4335.75    4335.75  1819596
2023-11-03  4327.50  4391.75  4325.50  4376.00    4376.00  1803552
2023-11-06  4379.25  4389.50  4364.25  4384.25    4384.25  1348878
2023-11-07  4397.50  4397.50  4389.75  4390.25    4390.25    28353

[5845 rows x 6 columns]